# ***1._wiki-Luettelo-Suomen-kunnista_clean***
***Todennetaan 'wiki' aineiston sisällön riittävyys, vertaamalla 'tilastokeskuksen' aineistoon.***
1. Tilastokeskus aineisto, Kunnat 2024.
    1. *Tiedosto*: '_tilastokeskus_luokitukset-kunta_1_20240101.csv'
    1. *Verkkolähde*: https://www2.tilastokeskus.fi/fi/luokitukset/kunta/
    
    
2. Suomen aluejako aineisto, luettelo Suomen kunnista.
    1. *Tiedosto*: '_wiki-Luettelo-Suomen-kunnista.csv'
    1. *Verkkolähde:* https://fi.wikipedia.org/wiki/Luettelo_Suomen_kunnista
    


***[OUT: _wiki-Luettelo-Suomen-kunnista_clean.csv]***

In [1]:
import pandas as pd

dx = pd.read_csv("raw/_wiki-Luettelo-Suomen-kunnista.csv",delimiter=";")
dx = dx.replace(";",",")
dx

,Kunta-nro[4],Kunnan nimi,Nimitys,Kielet,Kuntakeskus,Maakunta,Seutukunta,Väkiluku[5],Kok.pinta-ala (km²)[6],Maapinta-ala (km²)[6],Väestötiheys(as./km²)
0,20,Akaa,kaupunki,suomi,Toijalan keskustaajama,Pirkanmaa,Etelä-Pirkanmaan seutukunta,16 405,314.38,293.26,55.9
1,5,Alajärvi,kaupunki,suomi,Alajärven keskustaajama,Etelä-Pohjanmaa,Järviseudun seutukunta,9 113,1 056.75,1 008.77,9
2,9,Alavieska,kunta,suomi,Alavieskan kirkonkylä,Pohjois-Pohjanmaa,Ylivieskan seutukunta,2 437,253.02,251.50,9.7
3,10,Alavus,kaupunki,suomi,Alavuden keskustaajama,Etelä-Pohjanmaa,Kuusiokuntien seutukunta,10 933,1 151.50,1 087.24,10.1
4,16,Asikkala,kunta,suomi,Vääksy,Päijät-Häme,Lahden seutukunta,7 968,755.55,563.34,14.1
...,...,...,...,...,...,...,...,...,...,...,...
306,977,Ylivieska,kaupunki,suomi,Ylivieskan keskustaajama,Pohjois-Pohjanmaa,Ylivieskan seutukunta,15 369,574.20,569.83,27
307,980,Ylöjärvi,kaupunki,suomi,Ylöjärven kirkonkylä[17],Pirkanmaa,Tampereen seutukunta,33 677,1 323.96,1 115.75,30.2
308,981,Ypäjä,kunta,suomi,Ypäjän kirkonkylä,Kanta-Häme,Forssan seutukunta,2 207,183.25,182.76,12.1
309,989,Ähtäri,kaupunki,suomi,Ähtärin keskustaajama,Etelä-Pohjanmaa,Kuusiokuntien seutukunta,5 316,910.87,805.82,6.6
310,992,Äänekoski,kaupunki,suomi,Äänekosken keskustaajama,Keski-Suomi,Äänekosken seutukunta,17 971,1 13,NaN,NaN

In [2]:
dx=dx.drop(columns=['Nimitys', 'Kielet','Kuntakeskus', 'Seutukunta', 'Väkiluku[5]', 'Kok.pinta-ala (km²)[6]','Maapinta-ala (km²)[6]', 'Väestötiheys(as./km²) '], axis=1)
dx

     Kunta-nro[4] Kunnan nimi           Maakunta
0              20        Akaa          Pirkanmaa
1               5    Alajärvi    Etelä-Pohjanmaa
2               9   Alavieska  Pohjois-Pohjanmaa
3              10      Alavus    Etelä-Pohjanmaa
4              16    Asikkala        Päijät-Häme
..            ...         ...                ...
306           977   Ylivieska  Pohjois-Pohjanmaa
307           980    Ylöjärvi          Pirkanmaa
308           981       Ypäjä         Kanta-Häme
309           989      Ähtäri    Etelä-Pohjanmaa
310           992   Äänekoski        Keski-Suomi

[311 rows x 3 columns]

In [3]:
dx = dx.rename(columns={"Kunta-nro[4]":"kunta_nro","Kunnan nimi":"kunta_nimi"})
dx

     kunta_nro kunta_nimi           Maakunta
0           20       Akaa          Pirkanmaa
1            5   Alajärvi    Etelä-Pohjanmaa
2            9  Alavieska  Pohjois-Pohjanmaa
3           10     Alavus    Etelä-Pohjanmaa
4           16   Asikkala        Päijät-Häme
..         ...        ...                ...
306        977  Ylivieska  Pohjois-Pohjanmaa
307        980   Ylöjärvi          Pirkanmaa
308        981      Ypäjä         Kanta-Häme
309        989     Ähtäri    Etelä-Pohjanmaa
310        992  Äänekoski        Keski-Suomi

[311 rows x 3 columns]

In [4]:
dy = pd.read_csv("_tilastokeskus-luokitukset-kunta_1_20240101.csv")
dy

    kunta_nro kunta_nimi
0              020 Akaa
1          005 Alajärvi
2         009 Alavieska
3            010 Alavus
4          016 Asikkala
..                   ...
306       977 Ylivieska
307        980 Ylöjärvi
308           981 Ypäjä
309          989 Ähtäri
310      992 Äänekoski

[311 rows x 1 columns]

In [5]:
dy[['kunta_nro', 'kunta_nimi']] = dy['kunta_nro kunta_nimi'].str.strip().str.split(' ', n=1, expand=True)
dy.drop("kunta_nro kunta_nimi", axis=1, inplace=True)
dy

    kunta_nro kunta_nimi
0         020       Akaa
1         005   Alajärvi
2         009  Alavieska
3         010     Alavus
4         016   Asikkala
..        ...        ...
306       977  Ylivieska
307       980   Ylöjärvi
308       981      Ypäjä
309       989     Ähtäri
310       992  Äänekoski

[311 rows x 2 columns]

In [6]:
dx_kunta_nro = dx.kunta_nimi.sort_values().unique()
dy_kunta_nro = dy.kunta_nimi.sort_values().unique()

# in dx not in dy
dx_not_in_dy = set(dx_kunta_nro) - set(dy_kunta_nro)

# in dy not in dx
dy_not_in_dx = set(dy_kunta_nro) - set(dx_kunta_nro)

print("values in dx not in dy:")
print(dx_not_in_dy)

print("\nvalues in dy not in dx:")
print(dy_not_in_dx)

values in dx not in dy:
set()

values in dy not in dx:
set()

In [7]:
dx.to_csv('clean/_wiki-Luettelo-Suomen-kunnista_clean.csv', index=False)