# ***2._wiki-Luettelo-Suomen-kuntien-koordinaateista_clean***

1. Suomen kuntien koordinaatit, WGS84. 1.1.1987. 
    1. *Tiedosto*: '_wiki-Luettelo-Suomen-kuntien-koordinaateista.csv'
    1. *Verkkolähde*: https://fi.wikipedia.org/wiki/Luettelo_Suomen_kuntien_koordinaateista


***[OUT: _wiki-Luettelo-Suomen-kuntien-koordinaateista_clean.csv]***

In [1]:
import pandas as pd 

kunnat = pd.read_csv('raw/_wiki-Luettelo-Suomen-kuntien-koordinaateista.csv', delimiter='\t')
kunnat

         Kunta                    Koordinaatit
0         Akaa  61.167145977°N, 23.865888764°E
1     Alajärvi  63.001273254°N, 23.817522812°E
2    Alavieska  64.166646246°N, 24.307213479°E
3       Alavus  62.586161997°N, 23.616600589°E
4     Asikkala  61.172512361°N, 25.549142484°E
..         ...                             ...
306  Ylivieska  64.072284496°N, 24.533690188°E
307   Ylöjärvi  61.557156020°N, 23.596580124°E
308      Ypäjä  60.805227741°N, 23.272438379°E
309     Ähtäri  62.552859290°N, 24.075018434°E
310  Äänekoski  62.603307432°N, 25.724831350°E

[311 rows x 2 columns]

***Muunnetaan koordinaatit DMS muodosta DD muotoon***

In [2]:
def convert_to_decimal(coord):
    coord = coord.replace('°N', '').replace('°E', '').replace('°', '').replace(',', '.').strip()
    return float(coord)

kunnat['latitude'] = kunnat['Koordinaatit'].apply(lambda x: convert_to_decimal(x.split(',')[0]))
kunnat['longitude'] = kunnat['Koordinaatit'].apply(lambda x: convert_to_decimal(x.split(',')[1]))

kunnat.head()

       Kunta                    Koordinaatit   latitude  longitude
0       Akaa  61.167145977°N, 23.865888764°E  61.167146  23.865889
1   Alajärvi  63.001273254°N, 23.817522812°E  63.001273  23.817523
2  Alavieska  64.166646246°N, 24.307213479°E  64.166646  24.307213
3     Alavus  62.586161997°N, 23.616600589°E  62.586162  23.616601
4   Asikkala  61.172512361°N, 25.549142484°E  61.172512  25.549142

***Huomioidaan muuttujien nimet tiedostojen yhdistämisen helpottamiseksi:***

In [3]:
kunnat = kunnat.rename(columns= {'Kunta':'kunta_nimi'})

***Puuttuvien arvojen prosenttiosuus:***

In [4]:
missing_percents = (kunnat.isnull().sum()/ len(kunnat))*100
missing_percents

kunta_nimi      0.0
Koordinaatit    0.0
latitude        0.0
longitude       0.0
dtype: float64

***Tallennetaan uutena tiedostona:***

In [5]:
kunnat[['kunta_nimi', 'latitude', 'longitude']].to_csv('clean/_wiki-Luettelo-Suomen-kuntien-koordinaateista_clean.csv', index=False)